{
  "root": true,
  "parser": "vue-eslint-parser",
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "@vue/airbnb",
    "plugin:prettier-vue/recommended",
    "@vue/typescript/recommended"
  ],
  "plugins": ["vue", "@typescript-eslint"],
  "parserOptions": {
    "extraFileExtensions": [".vue"],
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "global-require": "off"
  }
}
